.issue-description-textarea {
    min-height: 200px !important;
}

.issue-priority-urgent {
    background-color: #e30000 !important;
    color: white !important;
}

.issue-priority-critical {
    background-color: #ffc8ea !important;
}

.issue-priority-serious {
    background-color: #ffee9c !important;
}

.issue-priority-normal {
    background-color: #e6f6cf !important;
}

.issue-priority-minor {
    /*as label-default */
}
